<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
      <title>The Python Book</title>
    </head>
  <body>
    <header>
      <div class="container">
        <!-- <li><h1 class="logo"><a href="{{ url_for('show_home') }}">The Python Book</a></h1></li> -->
        <h1 class="logo">The Python Book</h1>
        <strong><nav>
          <ul class="header-menu">
            <li><a href="{{ url_for('show_home') }}">Home</a></li>
            <li><a href="{{ url_for('show_contacts') }}">Contacts</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- BEGIN SIDEBAR BLOCK -->
    <div class="wrapper">
      <!-- Top menu -->
      <div class="sidebar">
        <!-- menu text -->
        <div class="menu">
          <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg" alt="menu_picture">
          <h3>The Python Book</h3>
          <p><i>Finally, a reference book for the 90's!</i></p>
        </div>
        <!-- menu item -->
        <!-- START SIDEMENU ITEMS -->
        <ul>
          <li>
            <a href="#" class="active" style="text-decoration: none">
              <span class="item">Home</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>1. </b>Getting Started</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>2. </b>Programming a Guessing Game</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>3. </b>Common Programming Concepts</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>4. </b>Understanding Ownership</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>5. </b>Structure Related Data</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>6. </b>Enums and Pattern Matching</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>7. </b>Managing Growing Projects with Packages and Modules</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>8. </b>Common Collections</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>9. </b>Error Handling</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>10. </b>Generic Types, Traits, and Lifetimes</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>11. </b>Writing Automated Tests</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>12. </b>An I/O Project: Building a Command Line Program</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>13. </b>Functional Language Features: Iterators and Closures</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>14. </b>More about modules and pip</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>15. </b>Smart Pointers</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>16. </b>Fearless Concurrency</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>17. </b>Object Oriented Programming Features of Python</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>18. </b>Patterns and Matching</span>
            </a>
          </li>
          <li>
          <a href="#" style="text-decoration: none">
              <span class="item"><b>19. </b>Advanced Features</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>20. </b>Final Project: Building a Multithreaded Web Server</span>
            </a>
          </li>
          <li>
            <a href="#" style="text-decoration: none">
              <span class="item"><b>21. </b>Appendix</span>
            </a>
          </li>
        </ul>
        <!-- END SIDEMENU ITEMS -->
      </div>
    </div>
    <script>
    </script>
    <!-- END SIDEBAR BLOCK -->
  </body>
</html>
